<form
    name="item.form"
    ng-submit="(house.id && ctrl.saveHouse()) || ctrl.addHouse()"
    flex="50">

  <md-dialog add-item-dialog>
    <md-dialog-content class="md-dialog-content">
      
      <h2 class="md-title" ng-if="ctrl.add == true">Додати будинок</h2>
      <h2 class="md-title" ng-if="ctrl.edit == true">Змінити будинок</h2>
      
      <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
        <i class="material-icons">error_outline</i>
        <span>&nbsp; All fields are required.</span>
      </p>

      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Вулиця</label>
          <input name="street" ng-model="house.street_name" ng-model-options="{ getterSetter: true }"
                 md-maxlength="20" required>
        </md-input-container>
        <md-input-container flex>
          <label>Номер</label>
          <input name="number" ng-model="house.house_number" ng-model-options="{ getterSetter: true }" required>
        </md-input-container>
      </div>
      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Тариф</label>
          <input name="tariff" ng-model="house.tariff">
        </md-input-container>
        <md-input-container flex>
          <label>Кількість квартир</label>
          <input name="apartments_count" ng-model="house.apartments_count"
                 required ng-disabled="house.id">
        </md-input-container>
      </div>

    </md-dialog-content>
    
    <div class="md-actions">
      <md-button type="submit" ng-if="!house.id"
                 class="md-primary" ng-disabled="item.form.$invalid">Додати</md-button>
      <md-button type="submit" ng-if="house.id"
                 class="md-primary" ng-click="ctrl.updateHouse()"
                 ng-disabled="item.form.$invalid">Зберегти</md-button>
      <md-button class="md-primary" ng-click="ctrl.cancel()">Скасувати</md-button>
    </div>
    
  </md-dialog>
</form>
