<md-toolbar class="md-table-toolbar md-default" ng-hide="selectedIndicators.length">
  <div class="md-toolbar-tools">
    <h2 class="md-title">
      Нарахування
    </h2>
    <div flex></div>
    <md-button class="md-icon-button" ng-click="calcCharges($event)">
      <md-icon>update</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-table-container>
  <table md-table md-row-select md-progress="chargesPromise" class="md-data-table">
    <thead md-head md-order="chargesQuery.order" md-on-reorder="getCharges">
      <tr md-row>
        <th md-column md-numeric ng-repeat="service in services">
          <span ng-bind-html="service.name | replace_space: 2 | trust"></span>, грн.
        </th>
        <th md-column md-numeric>Всього, грн.</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="charge in charges">
        <td md-cell ng-repeat="service_charge in charge.service_charges">
          {{ service_charge.value }}
        </td>
        <td md-cell>{{charge.total}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination
    md-limit="indicatorsQuery.limit"
    md-limit-options="[5, 10, 15]"
    md-page="indicatorsQuery.page"
    md-total="{{indicators.count}}"
    md-on-paginate="getIndicators"
    md-page-select>
</md-table-pagination>
