<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/ripples.min.css">

  <!-- ag grid -->
  <link href="/assets/css/ag-grid.css" rel="stylesheet" />
  <link href="/assets/css/theme-fresh.css" rel="stylesheet" />

  <link href="/assets/css/common.css" rel="stylesheet" />
</head>

<body>

  <app>
    <div class="container processing-container">
      <div class="row">
        <div class="center-block">
          <span class="glyphicon glyphicon-refresh spinning"></span> Завантаження...
        </div>
      </div>
    </div>
  </app>

  <script>
  </script>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/arrive.min.js"></script>
  <script src="/assets/js/ripples.min.js"></script>
  <script src="/assets/js/material.min.js"></script>

  <script>
   $.material.init();
  </script>
</body>
</html>
