<div flex-xs flex-gt-xs="100" layout="column">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">
          {{"apartment.list.headline" | translate}} {{apartment.number}}
        </span>
      </md-card-title-text>
      <div flex></div>
      <md-button ng-show="apartmentEditable" class="md-icon-button" ng-click="editApartment($event, apartment)">
        <md-icon>mode_edit</md-icon>
      </md-button>
    </md-card-title>
    <md-card-content>
      <md-table-container>
        <table md-table md-progress="apartmentPromise">
          <tbody md-body>
            <tr md-row>
              <td md-cell class="hoa-cell-50">{{"apartment.list.address" | translate}}:</td>
              <td md-cell class="hoa-cell-50">{{apartment.address.medium || '—'}}</td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">{{"apartment.list.entrance" | translate}}:</td>
              <td md-cell class="hoa-cell-50">{{apartment.entrance || "—"}}</td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">{{"apartment.list.floor" | translate}}:</td>
              <td md-cell class="hoa-cell-50">{{apartment.floor || "—"}}</td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">
                {{"apartment.list.roomCount" | translate}}:
              </td>
              <td md-cell class="hoa-cell-50">
                {{apartment.room_number || "—"}}
              </td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">
                {{"apartment.list.area.total" | translate}}:
              </td>
              <td md-cell class="hoa-cell-50">
                {{apartment.total_area || "—"}}
                <span ng-if="apartment.total_area">
                  {{"units.of.measurement.meters" | translate}}
                </span>
              </td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">
                {{"apartment.list.area.dwelling" | translate}}:
              </td>
              <td md-cell class="hoa-cell-50">
                {{apartment.dwelling_space || "—"}}
                <span ng-if="apartment.dwelling_space">
                  {{"units.of.measurement.meters" | translate}}
                </span>
              </td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">
                {{"apartment.list.area.heating" | translate}}:
              </td>
              <td md-cell class="hoa-cell-50">
                {{apartment.heating_area || "—"}}
                <span ng-if="apartment.heating_area">
                  {{"units.of.measurement.meters" | translate}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card-content>
  </md-card>
</div>
