<form
    name="item.form"
    ng-submit="(apartment.id && ctrl.saveApartment()) || ctrl.addApartment()"
    flex="50">
  <md-dialog add-item-dialog>
    <md-dialog-content class="md-dialog-content">
      
      <h2 class="md-title">{{"apartment.dialog.change" | translate}}</h2>
      
      <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
        <i class="material-icons">error_outline</i>
        <span>&nbsp; All fields are required.</span>
      </p>

      <div layout="row">
        <md-input-container flex>
            <label>{{"apartment.dialog.number" | translate}}</label>
          <input name="number" ng-model="apartment.apartment_number"
                 ng-model-options="{ getterSetter: true }"
                 ng-disabled="apartment.id" required md-autofocus="{{apartment.id === undefined}}">
        </md-input-container>
        <md-input-container flex>
          <label>{{"apartment.dialog.floor" | translate}}</label>
          <input name="floor" ng-model="apartment.floor" md-autofocus="{{apartment.id !== undefined}}">
        </md-input-container>
        <md-input-container flex>
          <label>{{"apartment.dialog.entrance" | translate}}</label>
          <input name="entrance" ng-model="apartment.entrance">
        </md-input-container>
        <md-input-container flex>
          <label>{{"apartment.dialog.roomCount" | translate}}</label>
          <input name="room_number" ng-model="apartment.room_number">
        </md-input-container>
      </div>
      <h3 class="md-subhead">
          {{"apartmnet.dialog.area" | translate}}, {{"units.of.measurement.meters" | translate}}
      </h3>
      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>{{"apartment.dialog.area.common" | translate}}</label>
          <input name="total_area" ng-model="apartment.total_area">
        </md-input-container>
        <md-input-container flex>
          <label>{{"apartment.dialog.area.dwelling" | translate}}</label>
          <input name="dwelling_space" ng-model="apartment.dwelling_space">
        </md-input-container>
        <md-input-container flex>
            <label>{{"apartment.dialog.area.heating" | translate}}</label>
          <input name="heating_area" ng-model="apartment.heating_area">
        </md-input-container>
      </div>

    </md-dialog-content>
    
    <div class="md-actions">
      <md-button type="submit" ng-if="!apartment.id"
                 class="md-primary" ng-disabled="item.form.$invalid">
        {{"apartment.dialog.add" | translate}}
      </md-button>
      <md-button type="submit" ng-if="apartment.id"
                 class="md-primary"
                 ng-disabled="item.form.$invalid">
        {{"apartment.dialog.save" | translate}}
      </md-button>
      <md-button class="md-primary" ng-click="ctrl.cancel()">
        {{"apartment.dialog.cancel" | translate}}
      </md-button>
    </div>
  </md-dialog>
</form>
