<div flex-xs flex-gt-xs="100" layout="column">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Квартира {{apartment.number}}</span>
      </md-card-title-text>
      <div flex></div>
      <md-button ng-show="apartmentEditable" class="md-icon-button" ng-click="editApartment($event, apartment)">
        <md-icon>mode_edit</md-icon>
      </md-button>
    </md-card-title>
    <md-card-content>
      <md-table-container>
        <table md-table md-progress="apartmentPromise">
          <tbody md-body>
            <tr md-row>
              <td md-cell class="hoa-cell-50">Адреса:</td>
              <td md-cell class="hoa-cell-50">{{apartment.address.medium || '—'}}</td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">Під’їзд:</td>
              <td md-cell class="hoa-cell-50">{{apartment.entrance || "—"}}</td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">Поверх:</td>
              <td md-cell class="hoa-cell-50">{{apartment.floor || "—"}}</td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">Кількість кімнат:</td>
              <td md-cell class="hoa-cell-50">{{apartment.room_number || "—"}}</td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">Загальна площа:</td>
              <td md-cell class="hoa-cell-50">
                {{apartment.total_area || "—"}} <span ng-if="apartment.total_area">м<sup>2</sup></span>
              </td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">Житлова площа:</td>
              <td md-cell class="hoa-cell-50">
                {{apartment.dwelling_space || "—"}} <span ng-if="apartment.dwelling_space">м<sup>2</sup></span>
              </td>
            </tr>
            <tr md-row>
              <td md-cell class="hoa-cell-50">Опалювальна площа:</td>
              <td md-cell class="hoa-cell-50">
                {{apartment.heating_area || "—"}} <span ng-if="apartment.heating_area">м<sup>2</sup></span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card-content>
  </md-card>
</div>
