<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Об'єднання співвласників багатоквартирного будинку</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" /> -->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="icons.css">
  <link rel="stylesheet" href="bower_components/angular-modal-progress-bar/dist/angular-modal-progress-bar.css">
  <link rel="stylesheet" href="app.css">
</head>
<body layout="column" ng-cloak>

  <md-content ng-controller="NavbarCtrl as nbc">

    <md-toolbar class="md-hue-2" flex="100">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon style="color: rgba(255,255,255,0.87);">account_balance</md-icon>
        </md-button>
        <h2>
          <span ng-if="showAssociationName()">
            ОСББ «{{associationName}}»
          </span>
          <span ng-if="showAdmin()">
            ОСББ: {{"hoa.common.admin" | translate}}
          </span>
          <span ng-if="!showAssociationName() && !showAdmin()">
            ОСББ
          </span>
        </h2>
        <span flex></span>
        <md-menu>
          <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
            <md-icon>menu</md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="nbc.gotoLogin()">
                Увійти
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="nbc.isSuperAdmin()">
              <md-button ng-click="nbc.gotoAdminArea()">
                Адмінка
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
  </md-content>

  <md-card ng-controller="BreadcrumbCtrl">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="breadcrumb-material-icons home-icon" href="/#!/"></a>
      </li>
      <li class="breadcrumb-item" ng-repeat="item in items">
        <a href="{{item.uri}}" class="link" ng-if="!item.active">
          {{item.label}}
        </a>
        <span ng-if="item.active" class="active">
          {{item.label}}
        </span>
      </li>
    </ol>
  </md-card>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <md-content layout="column" flex ng-view></md-content>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="resources/locale-uk_UA.json"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_uk-ua.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="user/user.js"></script>
  <script src="admin/admin.js"></script>
  <script src="association/association.js"></script>
  <script src="house/house.js"></script>
  <script src="apartment/apartment.js"></script>
  <script src="account/account.js"></script>
  <script src="charge/charge.js"></script>
  <script src="service/service.js"></script>
  <script src="bank-account/bank-account.js"></script>
  <script src="indicator/indicator.js"></script>
  <script src="navbar/navbar.js"></script>
  <script src="breadcrumb/breadcrumb.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>

  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/moment/locale/uk.js"></script>

  <script src="bower_components/angular-moment/angular-moment.min.js"></script>

  <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

  <script type="text/javascript" src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>

  <script type="text/javascript" src="bower_components/angular-modal-progress-bar/dist/angular-modal-progress-bar.js"></script>
</body>
</html>
