<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" /> -->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="icons.css">
  <link rel="stylesheet" href="bower_components/angular-modal-progress-bar/dist/angular-modal-progress-bar.css">
</head>
<body layout="column">

  <md-content ng-controller="NavbarCtrl as nbc" ng-cloak>

    <md-toolbar class="md-hue-2" flex="100">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon style="color: rgba(255,255,255,0.87);">account_balance</md-icon>
        </md-button>
        <h2>
          <span>
            ОСББ <span ng-if="associationName">«{{associationName}}»</span>
          </span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="nbc.gotoLogin()">
          <md-icon>favorite</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon>menu</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" class="navigation-bar" ng-if="show()">
      <md-nav-item md-nav-click="nbc.gotoAssociations()" name="associations">
        <md-icon class="md-default-theme" class="material-icons" style="font-size: 20px;">account_balance</md-icon> ОСББ
      </md-nav-item>
      <md-nav-item md-nav-click="nbc.gotoHouses()" name="houses">
        <md-icon class="md-default-theme" class="material-icons" style="font-size: 20px;">location_city</md-icon> Будинки
      </md-nav-item>
      <md-nav-item md-nav-click="nbc.gotoApartments()" name="apartments">
        <md-icon class="md-default-theme" class="material-icons" style="font-size: 20px;">view_quilt</md-icon> Квартири
      </md-nav-item>
      <md-nav-item md-nav-click="nbc.gotoAccounts()" name="personal-accounts">
        <md-icon class="md-default-theme" class="material-icons" style="font-size: 20px;">account_box</md-icon> Особові рахунки
      </md-nav-item>
      <md-nav-item md-nav-click="nbc.gotoIndicators()" name="meters">
        <md-icon class="md-default-theme" class="material-icons" style="font-size: 20px;">access_time</md-icon> Показники
      </md-nav-item>
      <md-nav-item md-nav-click="nbc.gotoCharges()" name="charges">
        <md-icon class="md-default-theme" class="material-icons" style="font-size: 20px;">poll</md-icon> Нарахування
      </md-nav-item>
      <md-nav-item md-nav-click="nbc.gotoServices()" name="services" ng-if="showMenuItems === true">
        <md-icon class="md-default-theme" class="material-icons" style="font-size: 20px;">layers</md-icon> Послуги
      </md-nav-item>
    </md-nav-bar>
  </md-content>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <md-content layout="column" flex ng-view></md-content>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="mdtable/mdtable.js"></script>
  <script src="user/user.js"></script>
  <script src="association/association.js"></script>
  <script src="house/house.js"></script>
  <script src="apartment/apartment.js"></script>
  <script src="account/account.js"></script>
  <script src="service/service.js"></script>
  <script src="charge/charge.js"></script>
  <script src="meter/meter.js"></script>
  <script src="indicator/indicator.js"></script>
  <script src="navbar/navbar.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>

  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/moment/locale/uk.js"></script>

  <script src="bower_components/angular-moment/angular-moment.min.js"></script>

  <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

  <script type="text/javascript" src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>

  <script type="text/javascript" src="bower_components/angular-modal-progress-bar/dist/angular-modal-progress-bar.js"></script>
</body>
</html>
