<form name="item.form" ng-submit="ctrl.saveService()">
  <md-dialog add-item-dialog>
    <md-dialog-content class="md-dialog-content">
      
      <h2 class="md-title">Додати Послугу</h2>
      
      <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
        <i class="material-icons">error_outline</i>
        <span>&nbsp; All fields are required.</span>
      </p>

      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Послуга</label>
          <input name="name" ng-model="service.name" md-maxlength="255" required>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Одиниці вимірювання</label>
          <md-select ng-model="service.unit">
            <md-option ng-repeat="(key, value) in units" value="{{ key }}">
              <span ng-bind-html="value | trust"></span>
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    
    <div class="md-actions">
      <md-button type="submit" class="md-primary"
                 ng-disabled="item.form.$invalid">Зберегти</md-button>
      <md-button class="md-primary" ng-click="ctrl.cancel()">Скасувати</md-button>
    </div>
    
  </md-dialog>
</form>
