<form name="item.form" ng-submit="ctrl.saveAccount()" flex="50">
  <md-dialog add-item-dialog>
    <md-dialog-content class="md-dialog-content">
      
      <h2 class="md-title">Змінити баланс</h2>

      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Баланс</label>
          <input name="amount" ng-model="account.amount"
                 md-numeric required md-autofocus>
        </md-input-container>
      </div>

      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Коментар</label>
          <input name="comment" ng-model="account.comment"
                 md-maxlength="100" required>
        </md-input-container>
      </div>

    </md-dialog-content>
    
    <div class="md-actions">
      <md-button type="submit" class="md-primary"
                 ng-disabled="item.form.$invalid">Зберегти</md-button>
      <md-button class="md-primary" ng-click="ctrl.cancel()">Скасувати</md-button>
    </div>
    
  </md-dialog>
</form>
