<md-dialog delete-dialog>
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title">Видалення користувачів</h2>
    <p class="md-warn" ng-if="error" layout="row" layout-align="start center">
      <md-icon>error_outline</md-icon>
      <span>&nbsp; {{error}}</span>
    </p>
    <p>
      Ви справді бажаєте видалити виділені користувачі?
    </p>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" ng-click="ctrl.deletionConfirmed()">Видалити</md-button>
    <md-button class="md-primary" ng-click="ctrl.cancel()">Скасувати</md-button>
  </md-dialog-actions>
</md-dialog>
