<form name="item.form" ng-submit="ctrl.saveUser()">
  <md-dialog add-item-dialog>
    <md-dialog-content class="md-dialog-content">
      
      <h2 class="md-title">Додати користувача</h2>
      
      <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
        <i class="material-icons">error_outline</i>
        <span ng-if="user.group == 'manager' && !user.cooperative && cooperative_is_required">&nbsp; Не вибране ОСББ для керівника.</span>
      </p>

      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Email</label>
          <input name="email" ng-model="user.email" md-maxlength="255" required>
        </md-input-container>
        <md-input-container flex>
          <label>Пароль</label>
          <input type="password" name="password" ng-model="user.password" md-maxlength="255" required>
        </md-input-container>
      </div>
      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Ім’я</label>
          <input name="first_name" ng-model="user.first_name" md-maxlength="255" required>
        </md-input-container>
        <md-input-container flex>
          <label>Прізвище</label>
          <input name="last_name" ng-model="user.last_name" md-maxlength="255" required>
        </md-input-container>
      </div>
      <div layout="row" class="input-row">
        <md-radio-group ng-model="user.group">
          <md-radio-button value="user">Мешканець</md-radio-button>
          <div layout="row" class="input-row">
            <md-input-container class="md-block" flex>
              <label>Обліковий запис</label>
              <md-select ng-model="user.account" ng-disabled="!user.group || user.group == 'manager' || user.group == 'superuser'">
                <md-option ng-repeat="account in ctrl.accounts" value="{{ account.id }}" ng-if="account.full_name">
                  <span>{{account.full_name}}</span>
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <md-radio-button value="manager">
            Керівник ОСББ
          </md-radio-button>
          <div layout="row" class="input-row">
            <md-input-container class="md-block" flex>
              <label>ОСББ</label>
              <md-select ng-model="user.cooperative" ng-disabled="!user.group || user.group == 'user' || user.group == 'superuser'">
                <md-option ng-repeat="association in ctrl.associations" value="{{ association.id }}">
                  <span>{{association.name}}</span>
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <md-radio-button value="superuser">Адмін</md-radio-button>
        </md-radio-group>
      </div>
    </md-dialog-content>
    
    <div class="md-actions">
      <md-button type="submit" class="md-primary"
                 ng-disabled="item.form.$invalid">Додати</md-button>
      <md-button class="md-primary" ng-click="ctrl.cancel()">Скасувати</md-button>
    </div>
    
  </md-dialog>
</form>
