<md-content>

  <div flex-xs flex-gt-xs="100" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            ОСББ <span ng-if="association.name">«{{association.name}}»</span>
          </span>
        </md-card-title-text>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="changeInformation($event)">
          <md-icon>mode_edit</md-icon>
        </md-button>
      </md-card-title>
      <md-card-content>
        <md-table-container>
          <table md-table md-progress="cooperatives_promise">
            <tbody md-body>
              <tr md-row>
                <td md-cell>ІПН:</td>
                <td md-cell>{{association.individual_tax_number || '—'}}</td>
              </tr>
              <tr md-row>
                <td md-cell>ЄДРПОУ:</td>
                <td md-cell>{{association.edrpou || '—'}}</td>
              </tr>
              <tr md-row>
                <td md-cell>Свідоцтво:</td>
                <td md-cell>{{association.certificate || '—'}}</td>
              </tr>
              <tr md-row>
                <td md-cell>Юридична адреса:</td>
                <td md-cell>{{association.legal_address || '—'}}</td>
              </tr>
              <tr md-row>
                <td md-cell>Фізична адреса:</td>
                <td md-cell>{{association.physical_address || '—'}}</td>
              </tr>
              <tr md-row>
                <td md-cell>Телефон:</td>
                <td md-cell>{{association.phone_number || '—'}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-card-content>
    </md-card>
  </div>
  
  <div flex-xs flex-gt-xs="100" layout="column">
    <md-card>
      <md-toolbar class="md-table-toolbar md-default" ng-hide="selectedHouses.length">
        <div class="md-toolbar-tools">
          <h2 class="md-title">Будинки</h2>
          <div flex></div>
          <md-button class="md-icon-button" ng-click="addHouse($event)">
            <md-icon>add_circle_outline</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-toolbar class="md-table-toolbar alternate" ng-show="selectedHouses.length">
        <div class="md-toolbar-tools">
          <div>{{selectedHouses.length}} {{selectedHouses.length > 1 ? 'items' : 'item'}} selected</div>
          <div flex></div>
          <md-button class="md-icon-button" ng-click="deleteHouse($event)">
            <md-icon>delete</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-table-container>
        <table md-table md-row-select class="association-houses" ng-model="selectedHouses" md-progress="housesPromise">
          <thead md-head md-order="houseQuery.order" md-on-reorder="getHouses">
            <tr md-row>
              <th md-column md-string md-order-by="address">Адреса</th>
              <th md-column md-numeric>Тариф квартплати, грн / м<sup>2</sup></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="house" md-select-id="id" md-auto-select ng-repeat="house in houses.data">
              <td md-cell>
                <a href ng-click="viewHouseDetails($event, house)">
                  {{house.address.medium}}
                </a>
              </td>
              <td md-cell>{{house.tariff || "—"}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-table-pagination
          md-limit="houseQuery.limit"
          md-limit-options="[5, 10, 15]"
          md-page="houseQuery.page"
          md-total="{{houses.count}}"
          md-on-paginate="getHouses"
          md-page-select>
      </md-table-pagination>
    </md-card>
  </div>
  
  <div flex-flex-gt-xs="100" layout="row">

    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Послуги</span>
          </md-card-title-text>
          <div flex></div>
          <md-button class="md-icon-button" ng-click="changeServices($event)">
            <md-icon>mode_edit</md-icon>
          </md-button>
        </md-card-title>
        <md-card-content>
          <table md-table ng-model="selected" md-progress="servicesPromise">
            <tbody md-body>
              <tr md-row ng-repeat="item in services.data">
                <td md-cell>{{item.service.name}}</td>
              </tr>
            </tbody>
          </table>
        </md-card-content>
      </md-card>
    </div>

    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Працівники</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-table-container>
            <table md-table>
              <tbody md-body>
                <tr md-row>
                  <td md-cell>Керівник:</td>
                  <td md-cell>{{association.manager.full_name || '—'}}</td>
                </tr>
                <tr md-row>
                  <td md-cell>Бухгалтер:</td>
                  <td md-cell>{{association.buhgalter || '—'}}</td>
                </tr>
                <tr md-row>
                  <td md-cell>Паспортист:</td>
                  <td md-cell>{{association.pasportyst || '—'}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="selectedBankAccounts.length">
      <div class="md-toolbar-tools">
        <h2 class="md-title">Банківські рахунки</h2>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="addBankAccount($event)">
          <md-icon>add_circle_outline</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="selectedBankAccounts.length">
      <div class="md-toolbar-tools">
        <div>{{selectedBankAccounts.length}} {{selectedBankAccounts.length > 1 ? 'items' : 'item'}} selected</div>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="editBankAccount($event)">
          <md-icon>edit</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="deleteBankAccount($event)">
          <md-icon>delete</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-table-container>
      <table md-table md-row-select ng-model="selectedBankAccounts" md-progress="bankAccountsPromise">
        <thead md-head md-order="bankAccountsQuery.order" md-on-reorder="getBankAccounts">
          <tr md-row>
            <th md-column md-string md-order-by="mfo">МФО</th>
            <th md-column md-string md-order-by="name">Назва</th>
            <th md-column md-string md-order-by="address">Адреса</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="bankAccount" md-select-id="id" md-auto-select ng-repeat="bankAccount in bankAccounts.data">
            <td md-cell>{{bankAccount.mfo}}</td>
            <td md-cell>{{bankAccount.name}}</td>
            <td md-cell>{{bankAccount.address}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination
        md-limit="bankAccountsQuery.limit"
        md-limit-options="[5, 10, 15]"
        md-page="bankAccountsQuery.page"
        md-total="{{bankAccounts.count}}"
        md-on-paginate="getBankAccounts"
        md-page-select>
    </md-table-pagination>
  </md-card>
  
</md-content>
