<md-card>

  <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
    <div class="md-toolbar-tools">
      <h2 class="md-title">ОСББ</h2>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="filter.show = true">
        <md-icon>filter_list</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="addAssociation($event)">
        <md-icon>add_circle_outline</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
    <div class="md-toolbar-tools">
      <md-icon>search</md-icon>
      <form flex name="filter.form">
        <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search">
      </form>
      <md-button class="md-icon-button" ng-click="removeFilter()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
    <div class="md-toolbar-tools">
      <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="editAssociation($event)">
        <md-icon style="{{selected.length > 1 ? 'color: rgba(0,0,0,0.28);' : ''}}">
          edit
        </md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="deleteAssociation($event)">
        <md-icon>delete</md-icon>
      </md-button>
    </div>
  </md-toolbar>

</md-card>
