<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Nutrition</span>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="name"><span>Назва</span></th>
        <th md-column md-string><span>ІПН</span></th>
        <th md-column md-string>ЄДРПОУ</th>
        <th md-column md-string>Свідоцтво</th>
        <th md-column md-string>Юридична адреса</th>
        <th md-column md-string>Фізична адреса</th>
        <th md-column md-string>Телефон</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="dessert" md-select-id="id" md-auto-select ng-repeat="dessert in desserts.data">
        <td md-cell>{{dessert.name}}</td>
        <td md-cell>{{dessert.individual_tax_number}}</td>
        <td md-cell>{{dessert.edrpou}}</td>
        <td md-cell>{{dessert.certificate}}</td>
        <td md-cell>{{dessert.legal_address}}</td>
        <td md-cell>{{dessert.physical_address}}</td>
        <td md-cell>{{dessert.phone_number}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
